/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
.contact .info {
    padding: 40px;
    box-shadow: 0px 2px 15px color-mix(in srgb, var(--default-color), transparent 92%);
    overflow: hidden;
  }
  
  .contact .info h3 {
    font-weight: 600;
    font-size: 24px;
  }
  
  .contact .info p {
    color: color-mix(in srgb, var(--default-color), transparent 40%);
    margin-bottom: 30px;
    font-size: 15px;
  }
  
  .contact .info-item+.info-item {
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
  }
  
  .contact .info-item i {
    font-size: 24px;
    color: var(--accent-color);
    transition: all 0.3s ease-in-out;
    margin-right: 20px;
  }
  
  .contact .info-item h4 {
    padding: 0;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  
  .contact .info-item p {
    padding: 0;
    margin-bottom: 0;
    font-size: 14px;
    color: color-mix(in srgb, var(--default-color), transparent 40%);
  }
  
  .contact .php-email-form {
    width: 100%;
  }
  
  .contact .php-email-form .form-group {
    padding-bottom: 8px;
  }
  
  .contact .php-email-form .error-message {
    display: none;
    color: #ffffff;
    background: #df1529;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .error-message br+br {
    margin-top: 25px;
  }
  
  .contact .php-email-form .sent-message {
    display: none;
    color: #ffffff;
    background: #059652;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .loading {
    display: none;
    text-align: center;
    padding: 15px;
  }
  
  .contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid var(--accent-color);
    border-top-color: var(--background-color);
    animation: animate-loading 1s linear infinite;
  }
  
  .contact .php-email-form input[type=text],
  .contact .php-email-form input[type=email],
  .contact .php-email-form textarea {
    border-radius: 0px;
    box-shadow: none;
    font-size: 14px;
    background-color: color-mix(in srgb, var(--background-color), transparent 50%);
    border-color: color-mix(in srgb, var(--default-color), transparent 80%);
  }
  
  .contact .php-email-form input[type=text]:focus,
  .contact .php-email-form input[type=email]:focus,
  .contact .php-email-form textarea:focus {
    border-color: var(--accent-color);
  }
  
  .contact .php-email-form input[type=text],
  .contact .php-email-form input[type=email] {
    height: 48px;
    padding: 10px 15px;
  }
  
  .contact .php-email-form textarea {
    padding: 10px 12px;
    height: 290px;
  }
  
  .contact .php-email-form button[type=submit] {
    background: var(--accent-color);
    color: var(--contrast-color);
    border: 0;
    padding: 13px 50px;
    transition: 0.4s;
    border-radius: 4px;
  }
  
  .contact .php-email-form button[type=submit]:hover {
    background: color-mix(in srgb, var(--accent-color) 90%, black 15%);
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  