@import url('../../styles/global.css');

.logo h1 {
  font-size: 32px;
  font-weight: 300;
  margin: 0;
  color: var(--heading-color);
}

.logo span {
  color: var(--accent-color);
  font-weight: 400;
  font-size: 34px;
  margin-left: 2px;
}
