.loginButton {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 14px 24px;
	border-radius: 8px;
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .loginButton svg {
	margin-right: 12px;
	font-size: 22px;
  }
  
