.container {
	position: relative;
	margin-inline: auto;
	height: 100vh;
	padding: 2rem;
}

.logo {
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	padding: 1rem 2rem;
  margin: 1rem;
}

.loginContainer {
	position: absolute;
	top: 50%;
	left: 0;
	translate: 0 -50%;
	padding: 1rem 2rem;
}

.btnContainer {
	margin-top: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

.ill {
  position: absolute;
  z-index: 0;
  pointer-events: none;
  top: 50%;
  right: 5rem;
	translate: 0 -50% ;
}
